<h3>Add note:</h3>
<%= form_for @note do |f| %>

<div class="field">
    <%= f.text_field :note %>
    <%= f.hidden_field :student_id, value: @student.id %>
    <%= f.hidden_field :user_id, value: @current_user.id %>

</div>

<div id="error_explanation">
    <% if @note.errors.any? %>
      <%= render "errors", object: f.object %>
    <% end %>
</div>

  <%= f.submit class: 'btn btn-primary'  %>
<% end %>