<%= form_for @student, class: "form-control" do |f| %>
  <div class="row">
    <div class="col-md-4">
    <P><B>Required:</B></P>
    <%= f.label :first_name, class: "form-label" %>
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %><br>
    <%= f.label :last_name, class: "form-label" %>
    <%= f.text_field :last_name, class: "form-control" %><br>
    <%= f.label :id_number, class: "form-label" %>
    <%= f.text_field :id_number, class: "form-control" %><br>
    <%= f.label :grade_level, class: "form-label" %>
    <%= f.collection_select(:grade_level, Student::GRADE_LEVEL, :to_i, :to_i, {:include_blank => false}, {class: 'form-control'}) %><br>
    <%= f.label :email, class: "form-label" %>
    <%= f.text_field :email, class: "form-control" %><br>
    </div>
    <div class="col-md-4">
    <P><B>Optional:</B></P>
    <%= f.label :current_school, class: "form-label" %>
    <%= f.text_field :current_school, class: "form-control" %><br>
        <%= f.label :home_phone, class: "form-label" %>
    <%= f.text_field :home_phone, class: "form-control" %><br>
    <%= f.label :parent_1_name, class: "form-label" %>
    <%= f.text_field :parent_1_name, class: "form-control" %><br>
    <%= f.label :parent_1_phone, class: "form-label" %>
    <%= f.text_field :parent_1_phone, class: "form-control" %><br>
    <%= f.label :parent_1_email, class: "form-label" %>
    <%= f.text_field :parent_1_email, class: "form-control" %><br>
    <%= f.label :parent_2_name, class: "form-label" %>
    <%= f.text_field :parent_2_name, class: "form-control" %><br>
    <%= f.label :parent_2_phone, class: "form-label" %>
    <%= f.text_field :parent_2_phone, class: "form-control" %><br>
    <%= f.label :parent_2_email, class: "form-label" %>
    <%= f.text_field :parent_2_email, class: "form-control" %><br>
    <%= f.label :policy_number, class: "form-label" %>
    <%= f.text_field :policy_number, class: "form-control" %><br>
    <%= f.label :insurance_expiration, class: "form-label" %>
    <%= f.text_field :insurance_expiration, class: "form-control" %><br>
    </div>
  </div>

  <%= f.submit class: 'btn btn-primary'  %>
<% end %>