<h1>Student List:</h1>
<%= link_to "New Student", new_student_path %>
<%= form_tag students_path, :method => :get, :class => "form-inline" do %>
  <%= text_field_tag :q, '',size: 30, autofocus: true, class: "form-control" %>
  <%= submit_tag "Search", class: 'btn btn-primary btn-sm' %>
<% end %>
<br>
<ul>
<% @students.each do |student| %>
  <li><%=render "student", student: student %></li>
<% end %>
</ul>

<%= render "navigation" %>