<h1>Student List:</h1>
<%= link_to "New Student", new_student_path %>
<%= form_tag students_path, :method => :get, :class => "form-search" do %>
  <%= text_field_tag :q, '',size: 10, autofocus: true %>
  <%= submit_tag "Search", class: 'btn btn-mini' %>
<% end %>
<ul>
<% @students.each do |student| %>
  <li><%=render "student", student: student %></li>
<% end %>
</ul>