<H2>Device: <%= "#{@device.device_type}" %></H2>
<%= link_to "Permanently Delete", @device, data: { confirm: "Are you sure you want to permanently delete this device?" }, method: :delete %><br>
<b>Serial Number:</b> <%= "#{@device.serial_number}" %> <%= link_to image_tag("meraki.png", :size => "32x32"), meraki_path(serial: @device.serial_number), target: "_blank" %><br>
<b>District Tag:</b> <%= "#{@device.district_tag}" %><br>
<b>Current User:</b>
<% if @device.student %>
  <%= render "students/student", student: @device.student %> - <%= link_to "Remove", deassociate_path(@device), data: { confirm: "Remove device from user?" } %>
  <br>
  <br>
<% else %>
  None.<br>
  <br>
  <%= form_tag device_path, method: :get, class: "form-search" do %>
    <%= label_tag 'Student Search:' %>
    <%= text_field_tag :q, '',size: 10, class: "input-medium search-query", autofocus: true %>
    <%= submit_tag "Search", class: 'btn btn-mini' %>
  <% end %>

  <% if @students_search %>
    <%= @students_search.length > 0 ? "Results:" : "No Results Found." %>
    <ul>
      <% @students_search.each do |student| %>
        <li><%= render "students/student", student: student %> - <%= link_to "Add to Student", associate_path(@device, student: student), data: { confirm: "Add #{student.first_name} #{student.last_name} - #{student.id_number} to device?" } %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<%= render "notes/history" %>
<%= render "notes/add_device" %>